<%- include('../includes/head.ejs') %><!-- includes the main head ejs styling -->
    <link rel="stylesheet" href="/css/cart.css">  <!-- gives ref to the cart.css file that styles the cart page -->
    </head> <!-- close the <head> tag that implemented on head.ejs -->

    <body> <!-- </head> is implemented on end.ejs -->
        <%- include('../includes/navigation.ejs') %> <!-- includes the main navigation ejs styling -->
        <main>
            <% if (products.length > 0) { %> <!-- check if products in the mongoose database is not empty -->
                <ul class="cart__item-list">
                    <% products.forEach(p => { %> <!-- loop in products in the mongoose database, and presenting all the products from there, as an unordered list -->
                        <li class="cart__item"> <!-- in the <li></li> tags, described how each product will be presented in the cart -->
                            <h1><%= p.productId.title %></h1> <!-- productId refer to a product ObjectId object, and then find its title, with .title -->
                            <h2>Quantity: <%= p.quantity %></h2>
                            <form action="/cart-delete-item" method="POST"> <!-- an http POST method, used for deleting a product from cart -->
                                <input type="hidden" value="<%= p.productId._id %>" name="productId"> <!-- use the productId._id to remove it from cart -->
                                <button class="btn danger" type="submit">Delete</button> 
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <hr>
                <div class="centered">
                <form action="/create-order" method="POST">
                    <button type="submit" class="btn">Order now!</button>
                </form>
            </div>
            
            <% } else { %>
                <h1>No Products in Cart!</h1> <!-- if products is enpty, this text will appear -->
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %> <!-- includes the main ending ejs styling -->